events {}

http {
    upstream flask_servers {
    {% for host in groups['web_servers'] %}
        server {{ host }}:5000;
    {% endfor %}
    }

    server {
        listen 80;

        location / {
            proxy_pass http://flask_servers;
            proxy_set_header Host $host;
            proxy_set_header X-Real-IP $remote_addr;
        }
    }
}